<div class="main-container">
  <mat-card id ="main-contact-container">
    <header id ="main-contact-container-header">
      <section>
        <h1><strong>{{ 'contact.title' | transloco }}</strong></h1>
      </section>
      <section>
        <p>
          {{ 'contact.email' | transloco }}
          <a href="mailto:edgaralex471@gmail.com">
            <strong>edgaralex471&#64;gmail.com</strong>
          </a>
          <br />
          {{ 'contact.legend' | transloco }}
        </p>
      </section>
    </header>
    <main id="contact-card-grid">
      <mat-card (click)="goToRoute('https://www.linkedin.com/in/alextcw/')" class="contact-item">
        <aside class="contact-item-img">
          <img [ngSrc]="linkedinImageSrc" alt="linkedin"
               height="80" priority="true" width="80"
          />
        </aside>
        <main>
          <h1>LinkedIn</h1>
        </main>
      </mat-card>
      <mat-card (click)="goToRoute('https://github.com/AlexTcw')" class="contact-item child">
        <aside class="contact-item-img">
          <img [ngSrc]="githubImageSrc" alt="github"
               height="80" priority="true" width="80"
          />
        </aside>
        <main>
          <h1>GitHub</h1>
        </main>
      </mat-card>
      <mat-card (click)="goToRoute('https://www.facebook.com/profile.php?id=100017556910169')" class="contact-item">
        <aside class="contact-item-img">
          <img [ngSrc]="facebookImageSrc" alt="facebook"
               height="80" priority="true" width="80"
          />
        </aside>
        <main>
          <h1>Facebook</h1>
        </main>
      </mat-card>
    </main>
  </mat-card>
</div>
