<header id="header-main-grid">
  <section class="grid-section">
    <app-toogle-lang></app-toogle-lang>
  </section>
  <section class="grid-section-title">
    <h1>AlexTcw</h1>
    <h4>{{ 'main-subtitle' | transloco }}</h4>
  </section>
  <section class="grid-section">
    <img [ngSrc]="linkedinImageSrc" width="30" height="30"
         priority="true" alt="linkedin"
         class="link-icon"
         (click)="this.router.goToRoute('https://www.linkedin.com/in/alextcw/')"
    />
    <img [ngSrc]="whatsappImageSrc" width="30" height="30"
         priority="true" alt="whatsapp"
         class="link-icon"
         (click)="this.router.goToRoute('7224581912','whatsapp')"
    />
    <img [ngSrc]="emailImageSrc" width="30" height="30"
         priority="true" alt="mail"
         class="link-icon"
         (click)="this.router.goToRoute('edgaralex471@gmail.com', 'email')"
    />
  </section>
</header>
<nav id="header-main-nav">
  <mat-button-toggle-group
    (change)="onComponentSelect($event.value)"
    appearance="legacy"
    aria-label="Language Selection"
    hideSingleSelectionIndicator="true">
    <mat-button-toggle #homeToggle value="home">
      {{ 'nav.home' | transloco }}
    </mat-button-toggle>
    <mat-button-toggle value="portfolio">
      {{ 'nav.portfolio' | transloco }}
    </mat-button-toggle>
    <mat-button-toggle value="resume">
      {{ 'nav.resume' | transloco }}
    </mat-button-toggle>
    <mat-button-toggle value="contact">
      {{ 'nav.contact' | transloco }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</nav>
