.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.resume-header {
  width: 80%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;

  button {
    width: 45%;
    background-color: #863698;
    color: white !important;
    @media (max-width: 768px) {
      font-size: smaller;
      mat-icon{
        font-size: large;
      }
    }
  }
}

.table-container {
  width: 80%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.12);

  table {
    width: 100%;
    border-collapse: collapse;

    .mat-column-name, .mat-column-expand {
      color: white !important;
      font-size: larger;
      background-color: #320064;
    }

    .mat-column-expand {
      text-align: end;
    }

    .mat-icon {
      color: white !important;
    }

    tr.table-element-row {
      cursor: pointer;
    }

    .table-toggle-button {
      transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .table-toggle-button-expanded {
      transform: rotate(180deg);
    }

    .table-element-row{
      border-bottom-width: 0;
    }

    .table-element-detail-wrapper{
      overflow: hidden;
      display: grid;
      grid-template-rows: 0fr;
      grid-template-columns: 100%;
      transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .table-element-detail-wrapper-expanded {
      grid-template-rows: 1fr;
      padding: 2rem;

      @media (max-width: 768px) {
        padding: 2rem 0 2rem 0;
      }
    }

    .table-element-detail {
      display: flex;
      min-height: 0;
    }

    tr.table-detail-row {
      height: 0;
    }

    tr.table-element-row {
      cursor: pointer;
    }

    tr.table-element-row:not(.table-expanded-row):hover {
      background: whitesmoke;
    }

    tr.table-element-row:not(.table-expanded-row):active {
      background: #efefef;
    }

    .table-element-row td {
      border-bottom-width: 0;
    }

    .table-element-detail{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 16px;
      align-items: stretch;
    }
  }
}



